
:root{
    color:green;
    text-align:center;
    font-size:30px;
}
.container{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background:rgb(41, 39, 39);
    text-align:left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    line-height: 2.6;
    width:50%;
    font-size:20px;
    margin :auto;
    border-radius:10px;
    padding:30px;
}
.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
button{
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button:hover{
         color:red;
         background-color: white;
     }
.center{
    text-align:center; 
}
.required{
    color:red;
}
textarea{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 3px solid #ccc;
    border-radius: 10px;    
}
textarea:hover{
    border-color:hotpink;
    background-color: gainsboro;
}
