body{
    background-color: skyblue;
}
:root{
    text-align:center;
    font-size:30px;
}
.container{
    background-color: whitesmoke;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    text-align:left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    line-height: 2.6;
    width:50%;
    font-size:20px;
    margin :auto;
    border-radius:10px;
    padding:30px;
}
.l2{
    margin-left:10%;
}
button{
    font-size: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     border-radius: 5px;
     border: 1px solid #ccc;
}
button:hover{
         color:green;
     }
.center{
    text-align:center; 
}
.required{
    color:red;
}
